/* Variables */
:root {
    --main-text-color: rgb(255, 254, 254);
    --cell-size: 100px;
    --cell-border-color: rgb(248, 247, 247);
    --cell-color: black;
    --mark-size: calc(var(--cell-size) * 0.9);
    --x-color: red;
    --x-transparent-color: lightcoral;
    --o-color: blue;
    --o-transparent-color: lightskyblue;
    --text-color: white;
    --gameOver-msg-bg-color: rgba(0, 0, 0, 0.9);
    --gameOver-msg-button-color-1: black;
    --gameOver-msg-button-color-2: white;
}

* {
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:black;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, auto);
    -ms-grid-columns : repeat(1, auto);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    
}

/* Board properties */
.board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

/* Cell properties */
.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--cell-color);
    border: 1px solid var(--cell-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* Delete the border around the board */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(3n + 1) {
    border-left: none;
}
.cell:nth-child(3n + 3) {
    border-right: none;
}
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

/* Cells with an object are not allowed to be clicked */
.cell.x,
.cell.o {
    cursor: not-allowed;
}

/* Draw X */
.cell.x::before,
.cell.x::after {
    background-color: var(--x-color);
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    background-color: var(--x-transparent-color);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

/* Draw O */
.cell.o::before {
    background-color: var(--o-color);
}

.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    background-color: var(--o-transparent-color);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * 0.7);
    height: calc(var(--mark-size) * 0.7);
    background-color: var(--cell-color);
}


.gameOver-msg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gameOver-msg-bg-color);
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 3rem;
    font-weight: bold;
    flex-direction: column;
}

.gameOver-msg button {
    font-size: 3rem;
    background-color: var(--gameOver-msg-button-color-2);
    border: 5px solid var(--gameOver-msg-button-color-1);
    border-radius: 5rem;
    padding: 0.25em 0.5em;
    cursor: pointer;
    font-weight: bold;
    margin-top: 2rem;
}

.gameOver-msg button:hover {
    background-color: var(--gameOver-msg-button-color-1);
    color: var(--gameOver-msg-button-color-2);
    border-color: var(--gameOver-msg-button-color-2);
}

.gameOver-msg.show {
    display: flex;
}

/* Game info text properties */
.game-info-text {
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0 3rem 0;
}
